{% extends "base.html" %}
{% block title %}Sunlight Labs API Key Confirmation{% endblock title %}
{% block content %}

{% if error %}
    <h1>Error Activating Key</h1>
    Could not activate key: <em>{{error}}</em>.
{% else %}
    <h1>Key Successfully Activated!</h1>

    Your API key has been successfully activated. You may want to refer to the
    <a href="/api/docs/">API Documentation</a> to get started using the API.

    <p>We also recommend that you sign up for the
    <a href="http://groups.google.com/group/sunlightlabs-api-discuss">API discussion list</a> to communicate
    with other users and receive email alerts of the latest updates.</p>


{% endif %}
{% endblock content %}
