
{% if page.has_previous %}
 <a href="../{{page.previous_page_number}}/"> &lt;-- </a>
{% endif %}
| page {{page_obj.number}} of {{paginator.num_pages}} |
{% if page.has_next %}
 <a href="../{{page.next_page_number}}/"> --&gt; </a>
{% endif %}

<table>
<thead><tr>
    <th>Method</th>
    <th>Time</th>
    <th>Caller</th>
    <th>Output Format</th>
    <th>Had Error?</th>
    <th>AJAX Request?</th>
    <th>Raw Query String</th>
</tr></thead>
{% for le in object_list %}
<tr>
    <td>{{le.method}}</td>
    <td>{{le.timestamp}}</td>
    <td>{{le.caller_ip}} ({{le.caller_host}})</td>
    <td>{{le.output}}</td>
    <td>{{le.error}}</td>
    <td>{{le.is_ajax}}</td>
    <td>{{le.query_string}}</td>
</tr>
{% endfor %}
</table>
