{% extends "base.html" %}
{% block title %}Sunlight Labs API Registration Successful!{% endblock title %}
{% block content %}
<h1>Sunlight Labs API Registration Successful</h1>

<dl>
    <dt>Email:</dt><dd>{{user.email}}</dd>
    <dt>Organization Name:</dt><dd>{{user.org_name}}</dd>
    <dt>Organization URL:</dt><dd>{{user.org_url}}</dd>
    <dt>Usage:</dt><dd>{{user.usage}}</dd>
    <dt>Signup Time:</dt><dd>{{user.signup_time}}</dd>
</dl>

<p>Thanks for signing up for the Sunlight Labs API, check your email in the next
few minutes for your API key, keep in mind that before using the API you must
click the link provided in the email to activate your new key.</p>

<p>We also recommend that you sign up for the
<a href="http://groups.google.com/group/sunlightlabs-api-discuss">API discussion list</a> to communicate
with other users and receive email alerts of the latest updates.</p>

{% endblock content %}
